html, body {
  height: 100%
}

#root, .container, #page-wrapper {
  height: 100%
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  border-right: 1px solid lightgrey;
  height: 100%;
  background-color: whitesmoke;
}

#nav-header {
  padding: 20px
}

.nav-item {
  cursor: pointer;
}

.nav-name {
  padding: 5px 20px
}

#main-wrapper {
  padding: 20px
}

#main-name-header {
  margin-bottom: 25px;
  margin-left: 20px
}

.review-title {
  margin-top: 1rem
}

.review-text {
  margin-bottom: 1rem
}

.list-group-item:first-child {
  border-top: 0
}